<div class="settings__content">
    <div class="wrapper">
        <div class="detail">
            <h2 class="detail__title">General</h2>
            <p class="detail__description">
                Configuración general del espacio de trabajo
            </p>
        </div>
        <!-- <div class="wrapper__container">
            <form class="settings__profile">
                <div class="om-field">
                    <label for="" class="om-field-label"></label>
                    <input type="text">
                </div>
            </form>
        </div> -->
    </div>
</div>
