<section class="reset-password om-section">
	<div class="container om-container">
		<div class="card om-shadow">
			<div class="card__header">
				<h2 class="title">Restaurar contrase&ntilde;a</h2>
			</div>
			<div class="card__body">
				<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="email__form">
					<div class="om-field">
						<label for="new_password" class="om-field-label">Nueva contrase&ntilde;a</label>
						<input formControlName="new_password" [type]="showPassword ? 'text' : 'password'" id="new_password" class="om-input" placeholder="********" autofocus>
						<div class="om-field-error" *ngIf="new_password?.invalid && (new_password?.dirty || new_password?.touched)">
							<small class="om-error-text" *ngIf="new_password?.errors?.['minlength']">
								M&iacute;nimo 8 caracteres
							</small>
							<small class="om-error-text" *ngIf="new_password?.errors?.['required']">
								El campo es requerido
							</small>
						</div>
					</div>
					<div class="om-field">
						<label for="confirm_password" class="om-field-label">Confirmar contrase&ntilde;a</label>
						<input formControlName="confirm_password" [type]="showPassword ? 'text' : 'password'" id="confirm_password" class="om-input" placeholder="********" autofocus>
						<div class="om-field-error" *ngIf="confirm_password?.invalid && (confirm_password?.dirty || confirm_password?.touched)">
							<small class="om-error-text" *ngIf="confirm_password?.errors?.['minlength']">
								M&iacute;nimo 8 caracteres
							</small>
							<small class="om-error-text" *ngIf="confirm_password?.errors?.['required']">
								El campo es requerido
							</small>
						</div>
					</div>
					<div class="show-password om-field">
						<input type="checkbox" id="show_password" (change)="checkPassword($event)">
						<label for="show_password">Mostrar contrase&ntilde;as</label>
					</div>
					<div class="om-field">
						<button type="submit" class="om-button om-shadow {{!resetPasswordForm.valid ? 'om-button-disabled' : ''}}" [disabled]="!resetPasswordForm.valid">
							Restaurar contrase&ntilde;a
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
