<section class="support__section om-section">
	<div class="container">
		<div class="ilustration">
			<img class="ilustration__image" src="assets/images/404.svg" alt="Ilustrative support image" role="img" loading="lazy">
		</div>
		<div class="content">
			<h4 class="subtitle">Soporte</h4>
			<h2 class="title">Podemos ayudarte</h2>
			<p class="description">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, eveniet debitis consectetur dolores quod qui? Consectetur magni dolorem sed ratione.
			</p>
			<div class="wrapper">
				<button class="om-button">
					Unirse
				</button>
				<button class="om-button">
					Crear Ticket
				</button>
			</div>
		</div>
	</div>
</section>
