<section class="support om-section">
	<div class="container">
		<div class="header">
			<h2 class="heading">Support</h2>
			<h3 class="subheading">We provide help for you</h3>
		</div>
		<div class="content">
			<p class="description">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, veniam
				reiciendis nemo iste distinctio quasi tempora laudantium aspernatur rerum
				eos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
				molestiae vel velit repellendus illo tenetur eaque cupiditate cum est
				culpa. Laborum libero optio sint, nesciunt dolorem facere. Nisi
				voluptatibus velit sunt architecto aliquam itaque! Consequuntur officia
				ullam cumque delectus consequatur sequi, fuga suscipit laudantium nemo,
				dignissimos, cum alias saepe. Ut?
			</p>
			<div class="help">
				<button type="button" class="room__button om-rounded-button">
					Join in a room
				</button>
				<span class="separator">or</span>
				<button type="button" class="ticket__button om-rounded-button">
					Create ticket
				</button>
			</div>
		</div>
		<div class="footer">asd</div>
	</div>
</section>
