<form [formGroup]="roleForm" (ngSubmit)="onContinue()" class="user__role-form">
	<div class="container">
		<label for="client" class="card-role-option">
			<div class="header">
				<h3 class="title">Cliente</h3>
				<div class="icon">
					<i class="uil uil-user"></i>
				</div>
			</div>
			<div class="body">
				<p class="description">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, laborum?
				</p>
				<input formControlName="role" [value]="roles[0].value" class="selector" type="radio" id="client">
			</div>
		</label>
		<label for="seller" class="card-role-option">
			<div class="header">
				<h3 class="title">Vendedor</h3>
				<div class="icon">
					<i class="uil uil-user"></i>
				</div>
			</div>
			<div class="body">
				<p class="description">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore, laborum?
				</p>
				<input formControlName="role" [value]="roles[1].value" class="selector" type="radio" id="seller">
			</div>
		</label>
	</div>
	<div class="om-field">
		<button class="om-button" type="submit">
			Continuar
		</button>
	</div>
</form>
