<form [formGroup]="roleForm" (ngSubmit)="onContinue()" class="user__role-form">
	<div class="container">
		<label for="client" class="card-role-option">
			<div class="header">
				<h3 class="title">Cliente</h3>
				<div class="icon">
					<i class="uil uil-user"></i>
				</div>
			</div>
			<div class="body">
				<p class="description">
					Visita los espacios de trabajo, consume los servicios que te ofrecen,
					filtra busquedas y suscríbete a los que más te gustan.
				</p>
				<input
					formControlName="role"
					[value]="roles[0].value"
					class="selector"
					type="radio"
					id="client"
				/>
			</div>
		</label>
		<label for="seller" class="card-role-option">
			<div class="header">
				<h3 class="title">Vendedor</h3>
				<div class="icon">
					<i class="uil uil-user"></i>
				</div>
			</div>
			<div class="body">
				<p class="description">
					Crea tu espacio de trabajo, adquiere los servicios para el mismo y
					ofrece tus productos al p&uacute;blico.
				</p>
				<input
					formControlName="role"
					[value]="roles[1].value"
					class="selector"
					type="radio"
					id="seller"
				/>
			</div>
		</label>
	</div>
	<div class="om-field">
		<button
			class="om-button {{ !roleForm.valid ? 'om-button-disabled' : '' }}"
			type="submit"
			[disabled]="!roleForm.valid"
		>
			Continuar
		</button>
	</div>
</form>
