<form [formGroup]="roleForm" (ngSubmit)="onContinue()" class="user__role-form">
	<div class="container">
		<label *ngFor="let group of groupsModel" [for]="group.code_name" class="card-role-option">
			<div class="header">
				<h3 class="title">{{ group.title }}</h3>
				<div class="icon">
					<i class="{{group.icon}}"></i>
				</div>
			</div>
			<div class="body">
				<p class="description">
					{{ group.description }}
				</p>
				<input
					formControlName="role"
					[value]="group.code_name"
					class="selector"
					type="radio"
					[id]="group.code_name"
				/>
			</div>
		</label>
	</div>
	<div class="om-field">
		<button
			class="om-button {{ !roleForm.valid ? 'om-button-disabled' : '' }}"
			type="submit"
			[disabled]="!roleForm.valid"
		>
			Continuar
		</button>
	</div>
</form>
