<section class="settings__container om-section">
    <div class="om-container">
        <div class="header" *ngIf="workspace$|async; let workspace">
            <div class="workspace">
                <img [src]="workspace.profile.logo" [alt]="workspace?.profile?.name + ' logo'" class="workspace__logo">
                <div class="workspace__information">
                    <h2 class="name">{{ workspace.profile.name }}</h2>
                    <h3 class="category">{{ workspace.category.name }}</h3>
                </div>
            </div>
            <a [routerLink]="'../'" class="om-link">
                Ir al espacio de trabajo
            </a>
        </div>
        <div class="layout__content">
            <aside class="sidebar">
                <div class="sidebar__content">
                    <ul class="options">
                        <li class="options__link">
                            <a [routerLink]="'./general'" routerLinkActive="hyperlink-active" class="hyperlink om-transition">
                                <i class="hyperlink__icon uil uil-cog"></i>
                                <span class="hyperlink__text">Global</span>
                            </a>
                        </li>
                        <hr class="divider">
                        <li class="options__title">
                            <h4>Servicios</h4>
                        </li>
                        <li class="options__link">
                            <a [routerLink]="'./products'" routerLinkActive="hyperlink-active" class="hyperlink om-transition">
                                <i class="hyperlink__icon uil uil-shopping-bag"></i>
                                <span class="hyperlink__text">Productos</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="wrapper">
                <div class="wrapper__content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>
