<section class="settings__container om-section">
    <div class="om-container">
        <div class="header">
            <div class="workspace">
                <img src="" alt="" class="workspace__logo">
                <div class="workspace__information">
                    <h2 class="name">Workspace Name</h2>
                    <h3 class="category">Workspace Category</h3>
                </div>
            </div>
            <a [routerLink]="'../'" class="om-link">
                Ir al espacio de trabajo
            </a>
        </div>
        <div class="layout__content">
            <aside class="sidebar">
                <div class="sidebar__content">
                    <ul class="options">
                        <li class="options__link">
                            <a class="hyperlink om-transition">
                                <i class="hyperlink__icon uil uil-cog"></i>
                                <span class="hyperlink__text">Global</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="wrapper">
                content
            </div>
        </div>
    </div>
</section>