@use "~src/assets/sass/variables";

.workspaces__section {
	//height: calc(100vh - 110px);
	height: 100%;
	overflow: hidden;

	.content {
		height: 100%;
		max-width: 1660px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		padding: 2rem 0 0 0;
		overflow-y: auto;

		.om-container {
			max-width: 90%;
			width: 100%;
			height: 100%;
			flex-wrap: nowrap;
			justify-content: center;
			margin: 0 auto;

			.side__panel {
				width: 30%;
				height: auto;
				margin-right: 2rem;

				&__content {
					width: 100%;
					display: flex;
					flex-direction: column;
					padding: 1rem;
					background-color: var(--background-alt-theme);
					border: 1px solid var(--border-color);
					border-radius: 5px;

					.panel__card {
						width: 100%;
						display: flex;
						flex-direction: column;
						justify-content: flex-start;

						.head {
							padding: 0 0 1rem 0;
							text-align: center;
						}

						.body {
							display: flex;
							flex-direction: column;
							justify-content: center;

							&__element {
								display: flex;
								align-items: center;

								input {
									margin-right: .5rem;
								}
							}
						}
					}
				}
			}

			.wrapper {
				width: 65%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				&__content {
					width: 100%;
				}
			}
		}
	}
}
