@use "~src/assets/sass/variables";

.login__section {
	height: calc(100vh - 110px);

	.om-container {
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 2.5rem;

		.login__card {
			height: 80%;
			width: 80%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			background-color: var(--background-theme);
			border: 2px solid var(--border-color);
			border-radius: 10px;

			&__content {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				overflow: hidden;

				.header {
					height: 10%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					margin-top: 1.5rem;

					h2 {
						font-family: "Sora", sans-serif;
					}
				}

				.body {
					height: 80%;
					margin: 0 0;

					.login__form {
						height: 100%;
						width: 70%;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						margin: 0 auto;

						.om-field {
							padding: 0.85rem 0.5rem;

							/*.om-input {
								//padding: .95rem .75rem;
							}*/
						}

						.forgot__password {
							flex-direction: row;
							justify-content: center;
							padding: 0.45rem 0;

							.om-link {
								padding: 0;
								font-size: 14px;
							}
						}
					}
				}

				.footer {
					height: 10%;
				}
			}

			&__image {
				background-color: variables.$nord-light-alt-color;
				border: 1px solid var(--border-color);
				border-radius: 0 10px 10px 0;
				height: 100%;
				width: 90%;
				padding: 0.5rem 1.5rem;
				box-sizing: border-box;
				overflow: hidden;

				.image {
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.login__section {
		.om-container {
			.login__card {
				height: 90%;
				width: 100%;
				border: none;
				background-color: transparent;

				.login__card__content {
					.body {
						.login__form {
							width: 100%;
						}
					}
				}
			}

			.om-shadow {
				box-shadow: none;
			}
		}
	}

	.login__card__image {
		display: none;
	}
}
