.link {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
	text-decoration: none;
	color: var(--text-color);
	opacity: .8;
	border-radius: 2.5px;
	margin: 0 0.15rem;

	.icon {
		font-size: 2rem;
	}

	&-active,
	&:hover {
		opacity: 1;
		color: var(--main-color);
		background-color: var(--background-alt-theme);
	}
}
