<section class="cash-register om-section">
	<div class="cash-register__container om-container">
		<div class="card-content">
			<div class="card">
				<h1 class="title">Agregar producto</h1>
				<form [formGroup]="formGroup" (ngSubmit)="traerProductos(nameProduct.value, quantity.value)">
					<input  class="om-input" type="text" matInput formControlName="employee" [matAutocomplete]="auto" name="nameProduct"
						#nameProduct>
					<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
						<mat-option *ngFor="let name of productos" [value]="name.name">{{name.name}}</mat-option>
					</mat-autocomplete>
					<input type="text" class="om-input" name="quantity" #quantity placeholder="Cantidad">
					<div>
						<button type="submit" class="om-button">Add</button>
					</div>
				</form> 
			</div>
		</div>
		<div class="content-table">
			<div class="table-wrapper">
				<table class="fl-table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>IVA</th>
							<th>Subtotal</th>
							<th>Lorem</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of products">
							<td>{{item.name}}</td>
							<td>{{item.price.value | currency}}</td>
							<td><input type="number" value={{item.quantity}} min="1" name="quantityDetails"
									#quantityDetails max="9999"></td>
							<td>{{item.vat * item.quantity | currency}}</td>
							<td>{{item.price.value * item.quantity | currency}}</td>
							<td><button class="delete-btn" (click)="deleteProductToDetails(item.Code)"><i
										class="fa-solid fa-trash"></i></button><button class="update-btn"
									(click)="UpdateQuantity(item.name, quantityDetails.value, initialValueVAT)"><i
										class="fa-solid fa-pen"></i></button></td>

						</tr>
					</tbody>
				</table>

			</div>
		</div>
	<div class="details-payment">
		<h2 class="details-h2">Total</h2>
		<p class="p-details">Total price: {{total_price | currency}}</p>
	</div>
	<input type="checkbox" id="btn-modal">
	<label for="btn-modal" class="lbl-modal" (click)="recordLocalStorage()">Pagar</label>

	<div class="modal">
		<div class="contenedor">
			<label for="btn-modal" class="lbl-cerrar">X</label>
			<div class="contenido">
				<div class="iphone">
					<div class="information">
						<i class="fa-solid fa-circle-info"></i>

						<div class="content-information">
							<div class="content-information-i">
								<h1>Name</h1>
								<p>403 Oakland Ave Street, A city, Florida, 32104,
									United States of America</p>
							</div>
						</div>
						<div class="pay-methods">
							<fieldset>
								<section class="content-sec">
									<div class="app-paper">
										<div class="paper-title">Choose your payment method </div>
										<form action="" class="form-div">
											<!--Cash-->
											<input type="radio" name="methodtype" id="1" class="hidebx">
											<label for="1" class="lbl-radio">
												<div class="display-box">
													<div class="logo"><img src="../../../../../../assets/images/icons8-cash-app.svg"
															alt=""></div>
													<div class="name-type">Cash</div>
												</div>
											</label>


											<!--Paypal-->
											<input type="radio" name="methodtype" id="4" class="hidebx2">
											<label for="4" class="lbl-radio2">
												<div class="display-box2">
													<div class="logo2"><img src="../../../../../../assets/images/icons8-visa.svg"
															alt=""></div>
													<div class="name-type2">Proximamente...</div>
												</div>
											</label>
										</form>

									</div>
									<div class="details-payment">
										<h2 class="details-h2">Total </h2>
										<p class="p-details">Total price: {{total_price | currency}}</p>
									</div>
									<input type="checkbox" id="btn-modal-pay">
									<label for="btn-modal-pay" class="lbl-modal-pay">Pagar</label>
									<div class="modal-pay">
										<div class="contenedor-pay">
											<label for="btn-modal-pay" class="lbl-cerrar-pay">X</label>
											<div class="contenido-pay">
												<div class="iphone">
													<div class="information-pay">

														<div class="content-information-pay">
															<div class="content-information-i-pay">
																<h1 class="h1-pay">Cash</h1>
																<div class="contenido-pay">
																	<p class="p-details-pay">Total a pagar:
																		{{total_price | currency}} pesos</p>
																	<input type="number" class="i-cash-return"
																		id="i-cash"
																		placeholder="Ingresa el monto entregado por el cliente">
																	<div class="d-btn-calc">
																		<button class="btn-calc"
																			(click)="calcash()">Calcular</button>
																	</div>
																	<p class="p-devolver">Monto a devolver: ${{return}} pesos
																	</p>
																	<div class="btn-finish">
																		<button class="btn-pdf-pay"
																			routerLink="./pdf" (click)="recordLocalStorage()">Finalizar</button>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	