<main class="home om-section">
	<div class="home__container om-container">
		<div class="content">
			<span class="subtitle mb">
				<i class="icon uil uil-megaphone"></i>
				El espacio para ti y tu negocio
			</span>
			<h1 class="title mb">
				<span class="our">
					Our
				</span>
				<span class="mall mb">
					Mall
				</span>
			</h1>
			<p class="description mb">
				Hola! Somos el equipo de Our Mall y estamos dispuestos a ofrecerte este espacio virtual
				para que tengas la oportunidad de ofrecer tus productos a un público global.
			</p>
			<a routerLink="/workspaces" class="om-button om-shadow mb">
				Explorar
			</a>
		</div>
		<div class="background">
			<img class="background__image" src="assets/images/illustration.png" alt="">
		</div>
	</div>
</main>
<app-footer></app-footer>
