<form class="user__workspace-form">
	<div class="om-field-group">
		<div class="om-field">
			<label for="name" class="om-field-label">Nombre</label>
			<input type="text" class="om-input" id="name" placeholder="Our Mall" autofocus>
		</div>
		<div class="om-field">
			<label for="slogan" class="om-field-label">Slogan</label>
			<input type="text" class="om-input" id="slogan" placeholder="Lorem ipsum">
		</div>
	</div>
	<div class="om-field">
		<label for="description" class="om-field-label">Descripci&oacute;n</label>
		<textarea class="om-input" id="description" placeholder="&iquest;Qu&eacute; haces?" rows="10" cols="50" style="resize: none;">
			Escribe aqu&iacute;
		</textarea>
	</div>
	<div class="om-field">
		<label for="category" class="om-field-label">Categor&iacute;a</label>
		<input type="text" class="om-input" id="category" placeholder="Comida, ropa">
	</div>
	<div class="om-field">
		<label for="logo" class="om-field-label">Logotipo</label>
		<input type="text" class="om-input" id="logo" placeholder="example.com/logo.png">
	</div>
	<div class="om-field">
		<label for="tags" class="om-field-label">Etiquetas</label>
		<input type="text" class="om-input" id="tags" placeholder="Vestidos, blusas, collares">
	</div>
	<div class="services__section om-field">
		<div class="information">
			<h3 class="information__title">Servicios</h3>
			<p class="information__description">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, sequi!
			</p>
		</div>
		<div class="services__options">
			asd
		</div>
	</div>
</form>
