@use "~src/assets/sass/variables";

.user__workspace-form {
	display: flex;
	flex-direction: column;

	.services__section {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.information {
			display: flex;
			flex-direction: column;
			padding: 0 0 1rem 0;
			border-bottom: 1px solid rgba($color: variables.$light-color, $alpha: 0.1);

			&__title {
				font-size: 1.45rem;
				margin-bottom: 0.25rem;
			}
		}

		.option {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			padding: 0.5rem 0;

			.helper {
				display: flex;
				flex-direction: column;
				margin-left: 0.5rem;

				.name {
					font-size: 1rem;
					margin-bottom: 0.25rem;
					font-weight: 700;
				}

				.description {
					font-size: 0.85rem;
					color: rgba($color: variables.$nord-light-color, $alpha: 0.65);
				}
			}
		}
	}
}
