<section class="signup om-section">
	<div class="container">
		<div class="heading">
			<h2 class="title">Registrarse</h2>
			<p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque eum, eaque et atque officia nostrum porro maxime temporibus magnam autem?</p>
		</div>
		<div class="body">
			<form class="signup__form">
				<div class="om-field-grid"> -- grid
					<div>
						<input class="om-input" id="name" type="text" placeholder="Name">
					</div>
					<div>
						<input type="text" placeholder="Lastname">
					</div>
				</div>
				<div>
					<div>
						<input type="tel" placeholder="Phone number">
					</div>
				</div>
				<div>
					<div>
						<input type="email" placeholder="Email">
					</div>
				</div>
				<div> -- grid
					<div>
						<input type="password" placeholder="Password">
					</div>
					<div>
						<input type="password" placeholder="Confirm password">
					</div>
				</div>
				<div>
					<div>
						<input type="date" placeholder="Birthdate">
					</div>
				</div>
				<div>
					<div>
						<input type="radio" name="gender" value="Male">
					</div>
					<div>
						<input type="radio" name="gender" value="Female">
					</div>
					<div>
						<input type="radio" name="gender" value="Other">
					</div>
				</div>
				<div>
					<input type="checkbox" id="privacy">
					<label for="privacy">Acepto los t&eacute;rminos y pol&iacute;ticas de privacidad</label>
				</div>
				<div>
					<button type="submit">
						Signup
					</button>
				</div>
			</form>
		</div>
		<div class="footer">
			footer
		</div>
	</div>
</section>
<section class="one">
	one
</section>
<section class="two">
	two
</section>
