@use "~src/assets/sass/variables";

.signup {
	height: 100%;

	.container {
		height: 100%;
		max-width: 768px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 1.5rem .85rem;

		.heading {
			display: flex;
			flex-direction: column;
			//justify-content: flex-start;
			align-items: center;
			border-bottom: 1px solid rgba($color: variables.$light-color, $alpha: 0.1);

			.title {
				margin-right: auto;
				font-family: "poppins", sans-serif;
				font-weight: 700;
				font-size: 2rem;
				line-height: 30px;
				letter-spacing: 2px;
			}

			.description {
				font-size: 18px;
				letter-spacing: 1px;
				padding: .85rem 0 2.5rem 0;
			}

			.stepper {
				width: 90%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 0 0 1.5rem 0;

				.step {
					height: 40px;
					width: 40px;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					background-color: variables.$light-color;
					color: variables.$dark-color;
					cursor: default;
				}

				.step-active {
					background-color: variables.$main-color;
					color: variables.$light-color;
				}
			}
		}

		.body {
			height: 100%;
			width: 100%;
		}

		.footer {
			display: block;
		}
	}
}
