<section class="signup om-section">
	<div class="container">
		<div class="heading">
			<h2 class="title">Registrarse</h2>
			<p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque eum, eaque et atque officia nostrum porro maxime temporibus magnam autem?</p>
		</div>
		<div class="body">
			<form class="signup__form">
				<div class="om-field-group">
					<div class="om-field">
						<label for="name" class="om-field-label">Name</label>
						<input class="om-input" id="name" type="text" placeholder="Lola, Pepe..">
					</div>
					<div class="om-field">
						<label for="lastname" class="om-field-label">Last name</label>
						<input class="om-input" id="lastname" type="text" placeholder="Lastname">
					</div>
				</div>
				<div class="om-field">
					<label for="phone-number" class="om-field-label">Phone number</label>
					<input class="om-input" id="phone-number" type="tel" placeholder="Phone number">
				</div>
				<div class="om-field">
					<label for="email" class="om-field-label">Email</label>
					<input class="om-input" id="email" type="email" placeholder="Email">
				</div>
				<div class="om-field-group">
					<div class="om-field">
						<label for="password" class="om-field-label">Password</label>
						<input class="om-input" id="password" type="password" placeholder="Password">
					</div>
					<div class="om-field">
						<label for="confirm-password" class="om-field-label">Confirm password</label>
						<input class="om-input" id="confirm-password" type="password" placeholder="Confirm password">
					</div>
				</div>
				<div class="om-field">
					<label for="birthdate" class="om-field-label">Birthdate</label>
					<input class="om-input" id="birthdate" type="date" placeholder="Birthdate">
				</div>
				<div class="gender__section om-field">
					<div class="information">
						<h3 class="information__title">Género</h3>
						<p class="information__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, voluptates!</p>
					</div>
					<div class="gender__option">
						<input type="radio" id="male" value="Male">
						<div class="helper">
							<label for="male">Masculino</label>
						</div>
					</div>
					<div class="gender__option">
						<input type="radio" id="female" value="Female">
						<div class="helper">
							<label for="female">Femenino</label>
						</div>
					</div>
					<div class="gender__option">
						<input type="radio" id="other" value="Other">
						<div class="helper">
							<label for="other">Otro</label>
						</div>
					</div>
				</div>
				<div class="privacy__section om-field">
					<input type="checkbox" id="privacy">
					<label for="privacy">Acepto los t&eacute;rminos y pol&iacute;ticas de privacidad</label>
				</div>
				<div class="om-field">
					<button class="om-button" type="submit">
						Signup
						<i class="icon uil uil-signout"></i>
					</button>
				</div>
			</form>
		</div>
		<div class="footer">
			footer
		</div>
	</div>
</section>
