@use "~src/assets/sass/variables";

.signup {
	height: 100%;

	#visual-wave {
		position: fixed;
		width: 100vw;
		bottom: 0;
		opacity: 0.5;
		z-index: -1;

		path {
			fill: variables.$nord-dark-alt-color;
		}
	}

	.container {
		height: 100%;
		max-width: 768px;
		display: flex;
		flex-direction: column;
		margin: 1.5rem auto 0 auto;
		padding: 1.5rem 0.85rem;

		.heading {
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid rgba($color: variables.$light-color, $alpha: 0.1);
			margin-bottom: 1rem;

			.title {
				margin-right: auto;
				font-family: "poppins", sans-serif;
				font-weight: 600;
				font-size: 2rem;
				letter-spacing: 1px;
			}

			.description {
				letter-spacing: 0px;
				padding: 0.85rem 0 2.5rem 0;
			}

			.stepper {
				width: 90%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 0 0 1.5rem 0;

				.step {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.step-indicator {
						height: 40px;
						width: 40px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						font-weight: 700;
						background-color: variables.$light-color;
						color: variables.$dark-color;
						cursor: default;
					}

					.label {
						font-size: 13px;
						margin-top: 0.5rem;
					}

					.step-active {
						background-color: variables.$main-color;
						color: variables.$light-color;
					}
				}
			}
		}

		.body {
			height: 100%;
			width: 100%;
		}

		.footer {
			display: block;
		}
	}
}
