@use "~src/assets/sass/variables";

.navbar {
	display: flex;
	flex-direction: column;
	width: 99vw;
	min-width: 100%;
	background-color: var(--nord-dark-color);
	z-index: 1000;
	overflow: hidden;

	.header {
		width: 100%;
		height: calc(var(--navbar-height) - 5px);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0.25rem 1.5rem;

		.brand {
			display: flex;
			align-items: center;
			width: 25%;

			.logo {
				width: 40px;
				height: 40px;

				.a {
					display: none;
					fill: #0086e6;
				}

				.b {
					display: none;
					fill: none;
					stroke: #0086e6;
					stroke-width: 50;
				}

				.c {
					fill: none;
					stroke: #0086e6;
					stroke-width: 60;
				}

				.d {
					fill: #0086e6;
				}

				&:hover {
					cursor: pointer;
				}
			}

			.link {
				letter-spacing: -1px;
				line-height: 20px;
				text-decoration: none;
				color: white;
				margin-left: 0.5rem;
				font-size: 1.5rem;
				color: var(--main-color);
				text-transform: capitalize;

				&:hover {
					color: var(--main-alt-color);
				}
			}
		}

		&__search {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			height: 100%;
			width: 50%;

			input {
				height: 90%;
				width: 100%;
				border-radius: 5px;
				padding: 0.75rem 1.15rem;
				border: none;

				&:focus {
					outline: none;
				}
			}
		}

		&__options {
			width: 25%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;

			a {
				font-size: 14px;
			}
		}
	}
}

.navigation {
	width: 100%;
	height: var(--navbar-height);
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.25rem 1rem;
	align-items: center;
	background-color: var(--nord-dark-color);
	border-bottom: 1px solid rgba($color: white, $alpha: 0.1);
	z-index: 1000;

	.menu {
		width: 25%;
		display: flex;
		align-items: center;
		justify-content: flex-start;

		button {
			display: flex;
			align-items: center;
		}
	}

	&__links {
		width: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.toolbar {
		width: 25%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.profile {
			width: 100px;
			height: 43px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 0.15rem 0.15rem 0.15rem 0;
			//border-radius: 50%;
			border-radius: 20px;

			.picture {
				overflow: hidden;
				height: 100%;
				width: 100%;
				object-fit: cover;
				max-height: 38px;
				max-width: 38px;
				border-radius: 50%;
			}

			.username {
				margin: 0 0 0 0.65rem;
				font-size: 12px;
				line-height: 12px;
				min-width: 35px;
				max-width: 60px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&:hover {
				cursor: pointer;
				background-color: rgba($color: variables.$main-alt-color, $alpha: 0.85);
			}
		}
	}
}
