<section class="forgot-password om-section">
	<div class="container om-container">
		<div class="card om-shadow">
			<div class="card__header">
				<h2 class="title">Recuperar contrase&ntilde;a</h2>
				<p class="detail">
					Para recuperar tu cuenta solo debes digitar tu correo en la casilla de abajo y enviaremos un correo electr&oacute;nico
					de confirmación.
				</p>
			</div>
			<div class="card__body">
				<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="email__form">
					<div class="om-field">
						<label for="email" class="om-field-label">Correo electr&oacute;nico</label>
						<input formControlName="email" type="email" id="email" class="om-input" placeholder="example@mail.com" autofocus>
						<div class="om-field-error" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
							<small class="om-error-text" *ngIf="email?.errors?.['email']">
								El correo electr&oacute;nico es inv&aacute;lido
							</small>
							<small class="om-error-text" *ngIf="email?.errors?.['required']">
								El campo es requerido
							</small>
						</div>
					</div>
					<div class="om-field">
						<button type="submit" class="om-button om-shadow {{!forgotPasswordForm.valid ? 'om-button-disabled' : ''}}" [disabled]="!forgotPasswordForm.valid">
							Enviar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
