@use "~src/assets/sass/variables";

.alert {
	display: block;
	max-width: 100%;
	width: 100%;
	height: 45px;
	border: 2px solid var(--border-color);
	border-radius: 5px;
	overflow: hidden;

	.om-container {
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
		flex-basis: 1;

		.content {
			width: 85%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: "Poppins", sans-serif;

			.icon {
				padding: 0 0.5rem;
			}

			.title {
				text-transform: uppercase;
				font-weight: 800;
				font-size: 16px;

				&::selection {
					color: var(--text-alt-color);
					background-color: transparent;
				}
			}

			.description {
				max-width: 80%;
				margin-left: 0.5rem;
				font-size: 14px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				&::selection {
					color: var(--text-alt-color);
					background-color: transparent;
				}
			}
		}

		.closable {
			width: 5%;
			display: flex;
			align-items: center;
			justify-content: center;

			span {
				font-size: 18px;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	&-info {
		background-color: rgba($color: variables.$main-color, $alpha: .85);
		color: #ffffff;
	}

	&-success {
		background-color: rgba($color: #1ea97c, $alpha: .85);
		color: #ffffff;
	}

	&-warning {
		background-color: rgba($color: #e9cf3c, $alpha: .85);
		color: #ffffff;
	}

	&-error {
		background-color: rgba($color: #9c0909, $alpha: .85);
		color: #ffffff;
	}
}
