<section class="page__not__found om-section">
	<div class="om-container">
		<div class="heading">
			<h2 class="title">
				P&aacute;gina no encontrada
			</h2>
		</div>
		<div class="body">
			<div class="body__background">
				<img class="img" src="assets/images/404.svg" alt="Imagen relacionada al error 404" loading="lazy">
			</div>
			<div class="error">
				<p class="error__description">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nesciunt optio dicta doloremque
					numquam debitis ut laboriosam beatae, hic veritatis temporibus, inventore eum, sit voluptates vero
					ea illo pariatur harum!
				</p>

			</div>
		</div>
	</div>
</section>
