@use "~src/assets/sass/variables";

.profile {
	//height: calc(100vh - (variables.$navbar-height * 2));
	height: 100%; // remove for use overflow-y

	&__container {
		height: 100%;
		width: 100%;
		max-width: 1366px;
		margin: 0 auto;
		display: flex;

		&__sidebar {
			width: 30%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-content: center;
			overflow: hidden;

			.account {
				display: flex;
				flex-direction: column;
				padding: 1rem 2.25rem;
				overflow-y: auto;

				&__information {
					display: flex;
					flex-direction: column;

					.picture {
						width: 100%;
						height: auto;
						max-width: 280px;
						max-height: 280px;

						img {
							height: 100%;
							width: 100%;
							object-fit: cover;
							border: 5px double
								rgba($color: variables.$nord-dark-alt-color, $alpha: 1);
							border-radius: 50%;
						}
					}

					.user {
						max-width: 300px;
						width: 100%;
						display: flex;
						flex-direction: column;
						font-family: "Ubuntu", sans-serif;

						&__data {
							display: flex;
							flex-direction: column;
							justify-content: center;
							padding: 1rem 0 0 0;

							.userinfo {
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								margin: 0 0 0.75rem 0;
								text-align: center;

								.name {
									max-width: 200px;
									line-height: 1.25;
								}

								.username {
									max-width: 200px;
									font-size: 1.25rem;
									color: var(--nord-light-color);
								}
							}

							.biography {
								max-height: 70px;
								font-size: 14px;
								margin: 0.75rem 0;
								overflow: auto;
							}
						}

						&__edit {
							width: 100%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;

							.om-field {
								padding: .35rem 0;
								align-items: center;
								justify-content: center;
							}

							.om-button {
								padding: .25rem;
								width: 90%;
							}
						}

						.details {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: center;
							font-size: 15px;
							margin-top: .35rem;

							.detail {
								display: flex;
								align-items: center;
								max-width: 300px;

								.icon {
									padding: 0.15rem 0.5rem;
								}

								.link {
									color: variables.$light-color;

									&:hover {
										color: variables.$main-color;
										text-decoration: underline;
									}
								}
							}
						}
					}
				}
			}
		}

		&__content {
			display: block;
			width: 70%;
			margin: 1.5rem 0 0 0;
			padding: 0 2.25rem 0 0;

			.user-workspaces {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;

				.content {
					margin: 1rem 0 0 0;
					width: 100%;
				}
			}
		}
	}
}
