@use "~src/assets/sass/variables";

.profile {
	//height: 100%;

	&__container {
		height: 100%;
		width: 100%;
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;

		&__sidebar {
			width: 30%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-content: center;

			.edit__profile {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.om-field {
					padding: 0.35rem 0;
					align-items: center;
					justify-content: center;
				}

				.main-button {
					width: 100%;
				}

				.form-button {
					padding: 0.25rem;
					width: 90%;
				}
			}
		}

		&__content {
			display: block;
			width: 70%;
			margin: 1.5rem 0 0 0;
			padding: 0 2.25rem 0 0;

			.user-workspaces {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;

				.content {
					margin: 1rem 0 0 0;
					width: 100%;

					&__workspace {
						width: 100%;
						display: block;
						background-color: variables.$nord-dark-alt-color;
						border: 1px solid rgba($color: variables.$dark-color, $alpha: 0.5);
						border-radius: 5px;

						.title {
							text-align: center;
							padding: 1.25rem 1.5rem;
							border-bottom: 1px solid rgba($color: variables.$light-color, $alpha: 0.1);
						}

						.body {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							padding: 1rem 1.5rem;

							.icon {
								font-size: 5rem;
								color: rgba($color: variables.$light-color, $alpha: 0.75);
								margin-bottom: .5rem;
							}
						}
					}
				}
			}
		}
	}
}
