<section class="profile om-section">
	<div class="profile__container">
		<aside class="profile__container__sidebar">
			<div class="alert__container">
				<app-alert-message [severity]="'warning'" *ngIf="!(user$|async)?.email_verified">
					<div class="alert__content" alert-content>
						<a class="alert__content__link" (click)="sendAccountVerification()" role="link">
							Verificar cuenta
						</a>
					</div>
				</app-alert-message>
			</div>
			<app-profile-info [user]="(user$|async)!" [isEditingProfile]="isEditingProfile">
				<div class="edit__profile" profile-info-option *ngIf="user$|async; let user">
					<button *ngIf="!(isEditingProfile$|async)" class="main-button om-button" (click)="changeEditProfileStatus(isEditingProfile)">
						Actualizar Perfil
					</button>
					<ng-container *ngIf="(isEditingProfile$ | async)">
						<form [formGroup]="accountForm" class="user__edit" (ngSubmit)="onSubmit()">
							<ng-container formGroupName="profile">
								<div class="om-field-group">
									<div class="om-field">
										<label for="picture" class="om-field-label">
											Foto de perfil
										</label>
										<input formControlName="picture" type="url" id="picture" class="om-input"
											placeholder="https://example.com/picture.png"
											[value]="user?.profile?.picture">
									</div>
								</div>
								<div class="om-field">
									<label for="biography" class="om-field-label om-optional-label">
										Biograf&iacute;a
									</label>
									<textarea formControlName="biography" id="biography" cols="10" rows="5"
										class="om-input" style="resize: none;"
										placeholder="Describete a ti y lo que haces"
										[value]="user?.profile?.biography"></textarea>
									<div class="om-field-error"
										*ngIf="biography?.invalid && (biography?.touched || biography?.dirty)">
										<small class="om-error-text" *ngIf="biography?.errors?.['maxlength']">
											M&aacute;ximo 500 caracteres
										</small>
										<small class="om-error-text" *ngIf="biography?.errors?.['minlength']">
											M&iacute;nimo 10 caracteres
										</small>
									</div>
								</div>
								<div class="om-field-group">
									<div class="om-field">
										<label for="website" class="om-field-label om-optional-label">
											Sitio web
										</label>
										<input formControlName="website" type="url" id="website" class="om-input"
											placeholder="https://example.com" [value]="user?.profile?.website">
									</div>
								</div>
							</ng-container>
							<div class="om-field-group">
								<div class="om-field">
									<button class="om-button form-button {{!accountForm.valid ? 'om-button-disabled' : ''}}"
										role="button" [disabled]="!accountForm.valid">
										Guardar
									</button>
								</div>
								<div class="om-field">
									<button class="om-button form-button" role="button" type="button"
										(click)="changeEditProfileStatus(isEditingProfile)">
										Cancelar
									</button>
								</div>
							</div>
						</form>
					</ng-container>
				</div>
			</app-profile-info>
		</aside>
		<div class="profile__container__content" id="profile-content">
			<div class="user-workspaces">
				<h2 class="title">Espacios de trabajo</h2>
				<div class="content">
					<ng-container *ngIf="(workspaces$|async)!.length >= 1; else noWorkspace">
						<app-workspace-card *ngFor="let workspace of (workspaces$|async)" [workspace]="workspace">
						</app-workspace-card>
					</ng-container>
					<ng-template #noWorkspace>
						<div class="content__workspace">
							<div class="title">
								<h3>No tienes espacio de trabajo</h3>
							</div>
							<div class="body">
								<i class="icon uil uil-store-slash"></i>
								<button class="om-button" (click)="confirm()">
									Crear espacio
								</button>
							</div>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
</section>
