<div class="account om-shadow">
	<div class="account__container">
		<div class="account__container__content">
			<div class="heading">
				<div class="heading__info">
					<div class="image">
						<img
							class="picture"
							[src]="
								(isLoggedIn$ | async)
									? (user$|async)?.profile?.picture
									: 'assets/images/profile.png'
							"
							[alt]="(user$|async)?.name"
						/>
					</div>
					<div class="profile">
						<h3 class="name om-no-break-text">
							{{ (isLoggedIn$ | async) ? (user$|async)?.name : "Cuenta" }}
						</h3>
						<ng-container *ngIf="(isLoggedIn$ | async) && (user$ | async); let user">
							<span class="identifier om-no-break-text">
								{{ user.groups![0]?.name }}
							</span>
						</ng-container>
					</div>
				</div>
				<div class="heading__options">
					<a [routerLink]="(isLoggedIn$ | async) ? 'profile' : 'login'" routerLinkActive="om-button-active" role="link" class="redirect-button om-button">
						{{ (isLoggedIn$ | async) ? "Ver perfil" : "Iniciar session" }}
					</a>
				</div>
			</div>
			<div class="body">
				<ng-container *ngIf="isLoggedIn$ | async; else notLogged">
					<a [routerLink]="'support'" routerLinkActive="item-link-active" class="item-link">
						<span class="text">Soporte</span>
					</a>
					<a class="item-link" (click)="logout()">
						<span class="text">Cerrar sesi&oacute;n</span>
					</a>
				</ng-container>
				<ng-template #notLogged>
					<a [routerLink]="'help'" class="item-link">
						<span class="text">Ayuda</span>
					</a>
				</ng-template>
			</div>
		</div>
	</div>
</div>
