@use "./variables";
@use "./animations";

/* ================ SECTIONS =================== */

.om-section {
	display: block;
	position: static;
	height: calc(100vh - (variables.$navbar-height*2 - 5px));
	min-height: 100%;
	width: 100%;
	box-sizing: border-box;
	animation: 1s fadeIn 0s ease-in;
}

/* ================ END SECTIONS ================= */

/* ================ BUTTONS =================== */

%_button {
	display: inline-block;
	border: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	transition: all .5s cubic-bezier(0.86, 0.01, 0.15, 0.99);
}

%_flex-button {
	@extend %_button;
	display: inline-flex;
}

.om-rounded-button {
	@extend %_flex-button;
	padding: 1rem 2rem;
	border-radius: 20px;
	background-color: variables.$main-color;
	color: variables.$nord-light-color;
	font-weight: 700;
	text-transform: uppercase;
	outline: rgba($color: variables.$nord-light-color, $alpha: 1) solid 2px;

	&:hover {
		background-color: rgba($color: variables.$nord-light-color, $alpha: 1.0);
		color: variables.$main-color;
	}
}

.om-icon-button {
	@extend %_flex-button;
	height: 40px;
	width: 40px;
	margin: 0 .25rem;
	border-radius: 50%;
	background-color: transparent;
	color: var(--nord-light-color);

	.icon {
		font-size: 2rem;
	}

	&:hover {
		color: var(--main-color);
	}
}

.om-button {
	@extend %_flex-button;
	text-transform: uppercase;
	font-weight: 700;
	padding: .85rem 1.25rem;
	justify-content: center;
	align-items: center;
	background-color: rgba($color: variables.$main-color, $alpha: 1.0);
	color: rgba($color: variables.$nord-light-color, $alpha: 1.0);
	border: 1px solid rgba($color: variables.$light-color, $alpha: 1.0);

	&:hover {
		background-color: rgba($color: variables.$main-alt-color, $alpha: 1.0);
		border-radius: 15px;
	}
}

.om-button-disabled {
	background-color: variables.$main-alt-color;
	border: none;
	cursor: not-allowed;

	&:hover {
		border-radius: 0;
		outline: none;
	}
}

/* ================ END BUTTONs =============== */

/* =============== FORMS ====================== */

.om-field {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem .5rem;
}

.om-field-label {
	font-weight: 600;
	font-size: .85rem;
	padding: 0 0 0 .5rem;
	margin-bottom: .25rem;
	color: rgba($color: variables.$light-color, $alpha: 0.65);

	&::after {
		content: " *";
		color: rgba($color: #e40707, $alpha: 1.0);
	}
}

.om-field-error {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: .5rem 0 0 0;

	.om-error-text {
		color: rgba($color: variables.$light-color, $alpha: 0.65);
	}
}

.om-field-group {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.om-field-grid {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

%_input {
	font-family: inherit;
	padding: .65rem 1rem;
	border-radius: 5px;
	border: 1px solid rgba($color: variables.$main-color, $alpha: 0.5);

	&:focus {
		outline: rgba($color: variables.$main-color, $alpha: 1) solid 1px;
	}
}

.om-input {
	@extend %_input;
	background-color: rgba($color: variables.$nord-dark-alt-color, $alpha: 0.5);
	color: rgba($color: variables.$nord-light-color, $alpha: 1.0);
	width: 100%;
}

/* =============== ENDFORMS =================== */
