@use "./variables";
@use "./animations";

/* ================ SECTIONS =================== */

.om-section {
	display: block;
	position: static;
	height: calc(100vh - (variables.$navbar-height*2 - 5px));
	min-height: 100%;
	width: 100%;
	box-sizing: border-box;
	animation: 1s fadeIn 0s ease-in;
}

/* ================ END SECTIONS ================= */

/* ================ BUTTONS =================== */

%_button {
	display: inline-block;
	border: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
}

%_flex-button {
	@extend %_button;
	display: inline-flex;
}

.om-rounded-button {
	@extend %_flex-button;
	padding: 1rem 2rem;
	border-radius: 20px;
	background-color: variables.$main-color;
	color: variables.$nord-light-color;
	font-weight: 700;
	text-transform: uppercase;
	outline: rgba($color: variables.$nord-light-color, $alpha: 1) solid 2px;
	transition: all .5s cubic-bezier(0.86, 0.01, 0.15, 0.99);

	&:hover {
		background-color: rgba($color: variables.$nord-light-color, $alpha: 1.0);
		color: variables.$main-color;
	}
}

.om-icon-button {
	@extend %_flex-button;
	height: 40px;
	width: 40px;
	margin: 0 .25rem;
	border-radius: 50%;
	background-color: transparent;
	color: var(--nord-light-color);

	.icon {
		font-size: 2rem;
	}

	&:hover {
		color: var(--main-color);
	}
}

/* ================ END BUTTONs =============== */

/* =============== FORMS ====================== */

.om-field-grid {
	display: grid;
	grid-template-columns: auto auto auto;
}

%_input {
	font-family: inherit;
	padding: .5rem .85rem;
	border-radius: 5px;
	border: 1px solid rgba($color: variables.$main-color, $alpha: 0.5);

	&:focus {
		outline: rgba($color: variables.$main-color, $alpha: 1) solid 1px;
	}
}

.om-input {
	@extend %_input;
	background-color: rgba($color: variables.$nord-dark-color, $alpha: 0.5);
	color: rgba($color: variables.$nord-light-color, $alpha: 1.0);
}

/* =============== ENDFORMS =================== */
